/* Custom styles for your website */
.jumbotron {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: #333;
    color: #fff;
}

.card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}
